{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>RefProduit</th>
                <td>{{ produit.refProduit }}</td>
            </tr>
            <tr>
                <th>NomProduit</th>
                <td>{{ produit.nomProduit }}</td>
            </tr>
            <tr>
                <th>PrixProduit</th>
                <td>{{ produit.prixProduit }}</td>
            </tr>
            <tr>
                <th>DateExpiration</th>
                <td>{{ produit.dateExpiration }}</td>
            </tr>
            <tr>
                <th>QuantiteProduit</th>
                <td>{{ produit.quantiteProduit }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ produit.categorie }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ produit.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('produit_index') }}">back to list</a>

    <a href="{{ path('produit_edit', {'refProduit': produit.refProduit}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
