{% extends 'base-front.html.twig' %}

{% block image %}

    <style>
        * {box-sizing: border-box;}
        body {font-family: Verdana, sans-serif;}
        .mySlides {display: none;}
        img {vertical-align: middle;}

        /* Slideshow container */
        .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
        }

        /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* The dots/bullets/indicators */
        .dot {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active {
            background-color: #717171;
        }

        /* Fading animation */
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }

        @keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }

        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {
            .text {font-size: 11px}
        }
    </style>

    <div class="slideshow-container">

        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src={{ asset("front-office/image/image1.jpg")}} style="width:100%">

        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src={{ asset("front-office/image/image2.jpg")}} style="width:100%">
            <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src={{ asset("front-office/image/image3.jpg")}} style="width:100%">
            <div class="text">Caption Three</div>
        </div>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            setTimeout(showSlides, 3000); // Change image every 2 seconds
        }
    </script>

{% endblock %}


{% block famille %}



    {# <style>
        td {
            text-align: center;
        }
    </style> #}
<h1 style="text-align: center; font-size: 3em">La liste des Famille</h1>
<table border="1" class="styled-table" style="margin: auto">
    <thead>
    <tr>

        <td>Nom</td>
        <td>Etat</td>
        <td>Gouvernorat</td>
        <td>Ville</td>
        <td>Supprimer</td>
        <td>Modifier</td>
        <td>Vérifier</td>
    </tr>
    </thead>
    <tbody>

    {% for i in familles %}
        <tr >


            <td>{{ i.nomP }}</td>
            <td>{{ i.verifF }}</td>
            <td>{{ i.etatF }}</td>
            <td>{{ i.villeF }}</td>
            <td><a href="{{ path('sup', {'id':i.idF}) }}">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAPhJREFUWEftl2ENwjAQhb85wAIKwAGggOAAB4ACwAFScAAoAAngAAeQLvxotrXX7kayLNff99pvr69dr6Bno+gZD4MAGgEXYCq4+wAWwDtnF9o4dAaWiYu42lVibVmWC3QCNjkLAEfgkKppAnLifeoEyroarAFVHE1ySLkLOrkU6jkw0y1RU9+Aa2hOCegfAY+eOgOS7qVBOOR/xCcQzlhN5xkyIH8Xmo69OWQO+Q60uYcsQ5Yhy5D0bNU65Lc0ofYmVtP5z1X7ou0d0A5wDWfjkC5G17/ftZZU9GPg2RbI6dbAFpgowV6/eVy/HxySQ0qGfLkBSZ59AaJzWCXJNDkwAAAAAElFTkSuQmCC"/>
                </a></td>
            <td><a href="{{ path('mod',{'id':i.idF}) }}">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAV9JREFUWEfl1eENwiAQBeDXCXQEnUDdQEdwA0dwFDdwBN1A3cBRdALNJZAQAtwDuaSN/aNJL/BxfcCAkT3DyDz4K9AcwAqA/D4AvJivYdWhNYALgIVDCGYH4KmhLECCubnOhPNTqN6gGPN2ohnbqZ6gFGbrIHcAIWqZy1QvUA7jMyPvQ9QewDWVpx6gVGbivMQ1ZqBcgGXxHiX/w5BLrmT3JY+BXzqU+kxHAKcoLwKSs0gewUiustu/FVTKTJwXHxUVI4UtIC3AMu4BwDkILYVpATEYpiZ7YNd0iJmIqSneHiyImYip0a4yKkPMREyNimEyxEzE1FAYDcRMxNTQGA0kJ6m/EFPbtjtGA32CpW2i09UEUwMKd6MZpgVkiqkBpYJJXwc1qS4djGGG4jFNMK0dMsNooJpOd6tl77JuE2oDTQpUCrW2UOZ9shmtu4yZUKuZPkhbocn7SYXapAPaoF/MD3UlNXZX7AAAAABJRU5ErkJggg=="/>
                </a></td>
            <td><a href="{{ path('verif', {'id':i.idF}) }}">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAetJREFUWEftlu0xBEEQht+LABkQASJABIgAGcgAGRABIkAEyIAIyAARUE/VzFXr252esXvlftz8YWt6pp/rd/pjogVbkwXj0RIoUmQZobEidC5pR9JWuvBF0r2kq8hB634kGQDXBsTfD9iJJP6OsiIgHG0GnrDZHoVGKqY9Mp0lR6+STiU9pe9dSZcG9kIS9oNXKUI4592w9gxMdgrUY/p4lsT34FUC+pS0kjz02X2nfWzXBtMEkrUAfUlabQQ6lnTjz/yXZIAcJSCydLpKQPZRk0l8P6STB+nB57rU8qgzTIYAaBqpMdKeDMxgkWoe5lYS0lVFCCMccUlfLQKGC2sKYwiDwyhCmZwahEy+dVCLuhbOycD8PqpgWoAiKey+dZ7fhpVlRqYWybBdT5L5d4JMSPbuaH007HYRJopQ1Fizo64G2wUVwpSAbMrXysUZ0j8vC1UF0wfE470zF1OF6Ws+k4gg/Su3F44cpjnJQvH/r9Qu/UKfZZT/N9MGKIRcRhvpWtgTif20id1GwT6MtgfyI0dtwbNzU0vVngH0QHbk8OEv/Tor86BRxAPZDs840SeVh0O6DyPbn0cRD5Tnm6gkdEVryNnpfV1vKG+2jqTWvvVsL1CYBfM2qG2u8+ZYRqg6wkvJolAtXIR+AGqxYiVKmPjKAAAAAElFTkSuQmCC"/>
                </a></td>

        </tr>
    {% endfor %}
    </tbody>

</table>

    <button  class="buttonV" onclick="window.location.href='http://127.0.0.1:8000/addFamille'" > Ajouter Famille</button>
    <button  class="buttonV" onclick="window.location.href='http://127.0.0.1:8000/RemarqueFamille'" > Famille Verifiee</button>
{% endblock %}
{% block famille2 %}
{% endblock %}
