<table class="table table-striped" style="border-collapse: collapse;
    border-radius: 20px;
    margin: auto;
    font-size: 1.4em;
    font-family: sans-serif;
    text-align: center;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);" border="0.5">
    <thead>
    <tr style="background-color: #ffee50;
    color: black;
    text-align: center;
    font-weight: normal;padding: 3px">
        <td>Nom Père</td>
        <td>Prenom Père</td>
        <td>tele père</td>
        <td>Nom Mère</td>
        <td>Prenom Mère</td>
        <td>tele Mère</td>
    </tr>
    </thead>
    <tbody>
    <tr style="background-color: #f3f3f3;">
        <td>{{ some.nomP }}</td>
        <td>{{ some.prenomP }}</td>
        <td>{{ some.teleP }}</td>
        <td>{{ some.nomM }}</td>
        <td>{{ some.prenomM }}</td>
        <td>{{ some.teleM }}</td>
    </tr>
    </tbody>
</table>